<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>daily-logs/vitalsign-project-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>10</maxHistory>
            <!-- daily rollover -->
            <fileNamePattern>daily-logs/vitalsign-project-service-%d{yyyy-MM-dd}.log</fileNamePattern>

        </rollingPolicy>
    
        <encoder>
            <!-- %d %p %C{1.} [%t] %m%n -->
            <!-- %d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n -->
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    
    </appender>

    <!-- trace - debug - info - warn - error - fatal -->
    <root level="INFO">
        <appender-ref ref="ROLLIN" />
    </root>

    <logger name="root" level="ERROR"/>
    <logger name="org.springframework" level="ERROR" />
    <logger name="com.elcom.vitalsign" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" /> -->
</configuration>